<div class="container">
  <h1>{{ title }}</h1>
  <form>
    <div class="form-group">
      <label>Operator X</label>
      <input
        type="number"
        class="form-control"
        placeholder="Write a operator"
        [(ngModel)]="operatorX"
        name="_operatorX"
      />
    </div>
    <div class="form-group">
      <label>Operator Y</label>
      <input
        type="number"
        class="form-control"
        placeholder="Write a operator"
        [(ngModel)]="operatorY"
        name="_operatorY"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="sum()">Sum</button>
  </form>
  <p>Result: {{ result }}</p>
</div>
